/* Основа */
* {
    margin: 0;
    font-family: "Arial";
}
body {
    background-color: white;
    
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
/* Хеадер */    
header {
    background-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px; 
    width: 100%;
    
    position: fixed;
    top: 0;
    z-index: 1000;
}
header h1 {
    color: white;
    font-size: 15px;
    text-align: center;
}

/* Навигация */
.navbar {
    background-color: #e1e1e1;
    padding: 15px;
    width: 100%;
    
    position: fixed;
    top: 60px;
    z-index: 1000;    
    box-shadow: 0, 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar nav {
    text-align: center;
}
.navbar nav a {
    padding: 10px;
    outline: none;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.navbar nav a:active {
    color: red;
}
.navbar nav span {
    color: gray;
}

/* Футер */
footer {
    background-color: #333333;
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .copyright  {
    text-align: center;
    color: gray;
    font-size: 13px;
}